hr{
  align-content :center;
  size: 3px;
  color: #0066ff;
}
ul{
  list-style-type: none;/*去掉表项前面的符号*/
  text-align: center;
}

li{
  display: inline;/*内联样式，就是li里面的显示都不换行，所有的li都在一行*/
}
li a{
  padding: 0 20px;/*上下边距为0 ，左右边距为20px*/
}
